<html>
<center>
    <h1>
        REPORT
    </h1>
</center>

{% for item in data %}
<p>
    {% autoescape false %}
        {{ (item ~ "").replace("\n","</br>") }}
    {% endautoescape %}
</p>
{% endfor %}

</html>