<html>
    <head>
<title>Web Crawler</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icon.png')}}">
   <style media="" data-href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}</style>
<style>
   @import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
   *, *:before, *:after {
     box-sizing: border-box;
   }

   body {
     min-height: 100vh;
     font-family: "Raleway", sans-serif;
   }

   .button{
     font-family: "Raleway", sans-serif;
     background-color: white;
     border: 2px solid black;
     padding: 12px 32px;
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
   }

    .button1 {
      background-color: white; 
      color: black; 
      border: 1px solid #ccc;
    }

    .button1:hover {
        background-color: #e46569; 
        color: white;
    }
    .button2 {
      background-color: white; 
      color: black; 
      border: 1px solid #ccc;
    }

    .button2:hover {
        background-color: #60d49c; 
        color: white;
    }

   .container {
     /* position: absolute; */
     width: 100%;
     height: 100%;
     /* overflow: hidden; */
   }
   .container .top:before, .container .top:after, .container .bottom:before, .container .bottom:after, .container:active .top:before, .container:active .top:after, .container:active .bottom:before, .container:active .bottom:after {
     margin-left: 400px;
     transform-origin: -400px 50%;
     transition-delay: 0s;
   }
   .container:hover .center, .container:active .center {
     opacity: 1;
     transition-delay: 0.2s;
   }

   .top:before, .top:after, .bottom:before, .bottom:after {
     content: "";
     display: block;
     position: absolute;
     width: 200vmax;
     height: 200vmax;
     top: 50%;
     left: 50%;
     margin-top: -100vmax;
     transform-origin: 0 50%;
     transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
     z-index: 10;
     opacity: 0.65;
     transition-delay: 0.2s;
   }

   .top:before {
     transform: rotate(45deg);
     background: #e46569;
   }
   .top:after {
     transform: rotate(135deg);
     background: #ecaf81;
   }

   .bottom:before {
     transform: rotate(-45deg);
     background: #60b8d4;
   }
   .bottom:after {
     transform: rotate(-135deg);
     background: #3745b5;
   }

   .center {
     position: absolute;
     width: 800px; /*tu szerokość okienta sie robi!!! */
     height: 100%;
     top: 50%;
     left: 50%;
     margin-left: -400px; /*tu szerokość okienta sie robi!!! */
     margin-top: -200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 30px;
     opacity: 0;
     transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
     transition-delay: 0s;
     color: #333;
   }
   .center input {
     /*width: 100%;*/
     padding: 15px;
     margin: 5px;
     border-radius: 1px;
     border: 1px solid #ccc;
     font-family: inherit;
   }

   .container .center, .container:active .center {
     opacity: 1;
     transition-delay: 0.2s;
   }

   .container .top:before, .container .top:after, .container .bottom:before, .container .bottom:after, .container:active .top:before, .container:active .top:after, .container:active .bottom:before, .container:active .bottom:after {
     margin-left: 450px; /*tu szerokość okienta sie robi!!! */
     transform-origin: -450px 50%; /*tu szerokość okienta sie robi!!! */
     transition-delay: 0s;
   }
   </style>

  <style media="screen">
  table, td {
    border: 1px solid black;
  }
  th {
    border: 2px solid black;
  }
  tr {
    text-align: center;
  }
  </style>
    </head>
    
    <body>
      <div class="container" onclick="onclick">
        <div class="overlay" style="width:100%; position: fixed; overflow: hidden; height:100%;">
          <div class="top"></div>
          <div class="bottom"></div>
        </div>
      <div class="center" style="z-index:0; padding-bottom: 10%;">
      <h1>ADD NEW WORKER</h1>
        
      <form action="" mrhod="post">
        <label for="ip"> Worker's IP* &nbsp;</label>
        <input id="ip" type="ip" placeholder="Enter IP address" name="ip" required>
        <br>
        <label for="port"> Port* &nbsp;</label>
        <input id="port" type="port" placeholder="Enter port" name="depth" required>
        <br>
        <label for="pass"> Synchronization pass* &nbsp;</label>
        <input id="pass" type="pass" placeholder="Enter synchronization pass" name="pass" required>

        <h1 style="font-size:15px">*required</h1>
        <br>
        <center><input class="button button2" type="submit" value="Submit"></center>
      </form>
        <form><button class="button button1" formaction="/">Cancel</button></form>
    </body>
</html>